@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body{
    background-image: url(vaclav-pechar-CQwY2fnn1H4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Tilt Neon', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    color: blanchedalmond;
}

.column-left{
    min-width: 40%;
}
.column-right{
    background-color: rgba(25, 38, 36, 0.95);
    height: 100vh;
}

h1{
    text-align: center;
    font-size: 2.7rem;
}
.header{
    margin-top: 10%;
}
h2{
    font-family: 'Mansalva', sans-serif;
    font-weight: 200;
    margin: 1em;
}

.formrow{
    display: flex;
    flex-direction: row;
}

.formsection{
    position: relative;
    margin: 1rem;
    max-width: 50%;
}

input{
    border: 0;
    border-bottom: 3px solid #dfdfdf;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
}

label{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    cursor: text;
    transition: .3s ease-in-out;
}

input, label{
    font-size: 1.5rem;
    height: 2rem;
}

input:focus + label,
input:valid + label{
    font-size: 1rem;
    top: -1.5em;
    pointer-events: none;
}


input:focus{
    border-bottom: 3px solid #12bdbd;
}

.button{
    margin: 1rem;
    height: 3rem;
    width: 40%;
    transition: .3s ease-in-out;
    border-bottom: 3px solid #dfdfdf;
}
.button:hover{
    border: 3px solid #12bdbd;
    background-color: #12bdbd;
    color: #252323;
    border-radius: 4rem;
}
.button:active{
    scale: 0.9;
    transition: none;
} 

.logo-text{
    display: grid;
    text-align: center;
    margin-top: 15%;
    font-size: 2.7rem;
    color: aqua;
    background-color: rgba(25, 38, 36, 0.6);
    font-family: 'Mansalva', sans-serif;
}

.footer{
    text-align: center;
    width: 40%;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}
a{
    color: aqua;
}
a:hover{
    color: #e653eb;
}
.logined{
    margin-left: 1.25rem;
    font-size: 1.25rem;
}

.linked{
    color: #12bdbd;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: none;
      background-color: #252323;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .column-right{
        height: auto;
    }
    .footer{
        visibility: hidden;
    }
    .formsection{
        position: relative;
        margin: 1rem;
        width: 100%;
    }
    .formrow{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .button{
        width: 80%;
    }
  }